.sidebar {
    display: flex;
    align-items: center;
    flex: 0.25;
    height: 100vh;
    flex-direction: column;
    border-right: 1px solid rgba(190, 190, 190, 0.1);
}

.sidebar_search {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    width: 100%;
}